[submodule "cluster/agent"]
	path = cluster/agent
	url = https://github.com/kummahiih/secure-claude-agent
[submodule "cluster/planner"]
	path = cluster/planner
	url = https://github.com/kummahiih/secure-claude-planner
[submodule "cluster/tester"]
	path = cluster/tester
	url = https://github.com/kummahiih/secure-claude-tester.git
